#div1:hover {
background-color: red;
}
#div2:hover {
background-color: red;
}
#div3:hover {
background-color: red;
}
#div4:hover {
background-color: red;
}
#div5:hover {
background-color: red;
}
#div6:hover {
background-color: red;
}
#div7:hover {
background-color: red;
}
#div8:hover {
background-color: red;
}
#div9:hover {
background-color: red;
}
#div10:hover {
background-color: red;
}
#div11:hover {
background-color: red;
}
#div12:hover {
background-color: red;
}
#div13:hover {
background-color: red;
}
#div14:hover {
background-color: red;
}
#div15:hover {
background-color: red;
}
#div16:hover {
background-color: red;
}
#container {
    display: grid;
    grid: repeat(4, 60px) / auto-flow 80px;
}
p {
    color: white;
    margin: 20px;
}
body {
    background-color: lightgreen;
}
#div1 {
    background-color: blue;
}
#div2 {
    background-color: blue;
}
#div3 {
    background-color: blue;
}
#div4 {
    background-color: blue;
}
#div5 {
    background-color: blue;
}
#div6 {
    background-color: blue;
}
#div7 {
    background-color: blue;
}
#div8 {
    background-color: blue;
}
#div9 {
    background-color: blue;
}
#div10 {
    background-color: blue;
}
#div11 {
    background-color: blue;
}
#div12 {
    background-color: blue;
}
#div13 {
    background-color: brown;
}
#div14 {
    background-color: brown;
}
#div15 {
    background-color: brown;
}
#div16 {
    background-color: brown;
}
#container > div {
    width: 50;
    height: 50;
}